# Sunflower8
https://himawari8.nict.go.jp/zh/himawari8-image.htm


### 氣象資訊綠能虛擬營運中心
http://greenmet.cwb.gov.tw


### 撈資料
透過Chrome -> More tools -> Developer tools
http://greenmet.cwb.gov.tw/data/map_csv/Display/Range/Forecast/2019011500/NOCWRF_03000_00_K01WEP_2019011500_0030.csv?0.8598516249420058
問號後面參數不理他


### 觀察URL
太陽能發電量 / 區域模式
http://greenmet.cwb.gov.tw/data/map_csv/Display/Range/Forecast/2019011500/NOCWRF_03000_00_B00SED_2019011500_0000.csv?0.4339788386320338

太陽能短波幅射量 / 區域模式
http://greenmet.cwb.gov.tw/data/map_csv/Display/Range/Forecast/2019011500/NOCWRF_03000_00_B00SWR_2019011500_0075.csv?0.045722246612944994

觀察這些設定與URL們的關系，推論出如何抓取URL


### pandas載入csv時，遇到Parse error
pandas官方文件 https://pandas.pydata.org/pandas-docs/stable/api.html
因前兩個raw為header，是說明用，所以columns會與後面的資料沒有對齊導致錯誤，在pd.read_csv()時，加入header參數跳掉即可。

In [33]:


import requests
import pandas as pd
import io
url = 'http://greenmet.cwb.gov.tw/data/map_csv/Display/Range/Forecast/2019011500/NOCWRF_03000_00_K01WEP_2019011500_0030.csv?0.8598516249420058'

r = requests.get(url)  
with open('raw/NOCWRF_03000_00_K01WEP_2019011500_0030.csv', 'wb') as f:
    f.write(r.content)

In [57]:
#df = pd.read_csv('raw/NOCWRF_03000_00_K01WEP_2019011500_0030.csv', encoding='utf-8', header=3)
df = pd.read_csv('raw/NOCWRF_03000_00_K01WEP_2019011500_0030.csv', encoding='utf-8', skiprows=3)
df.shape

(301, 261)

In [58]:
df.columns

Index(['0', '0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '0.7', '0.8', '0.9',
       ...
       '4988.71', '4992.29', '4996.82', '5000.38', '5000.39', '5000.40',
       '5000.41', '5000.42', '5000.43', '5000.44'],
      dtype='object', length=261)

In [59]:
df.head()

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,4988.71,4992.29,4996.82,5000.38,5000.39,5000.40,5000.41,5000.42,5000.43,5000.44
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4983.08,4991.24,4998.55,5000.00,5000.00,5000.00,5000.00,5000.00,5000.00,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4979.88,4992.34,5000.00,5000.00,5000.00,5000.00,5000.00,5000.00,5000.00,5000
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4984.42,4996.53,4999.83,4996.71,4997.34,5000.00,5000.00,5000.00,5000.00,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4988.57,4998.91,4992.52,4981.23,4983.78,4993.72,4997.43,4998.81,5000.00,5000
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4988.75,4998.76,4982.39,4895.95,4935.17,4990.69,4994.46,4994.90,4997.84,5000